<!DOCTYPE html>
<html class="mdl-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Unlegacy Android Builds</title>
  <meta name="description" content="Unlegacy Android downloads portal.">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.yellow-orange.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script defer src="https://material.io/guidelines/static/default/js/main.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><b>Unlegacy Android Builds</b></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <!--a class="mdl-navigation__link" href="/extras">Extras</a-->
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title" style="padding-left:20"><b>Devices</b></span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/"><b>Latest Builds</b></a>
        {% for oem in oems %}
        <div>
          {% if oem == active_oem %}
          <a class="mdl-navigation__link qp-ui goog-zippy-expanded" data-qp-ui="{ 'SideNavZippy': true }" style="cursor: pointer; cursor: hand;"><b>{{oem}}</b></a>
          {% else %}
          <a class="mdl-navigation__link qp-ui goog-zippy-collapsed" data-qp-ui="{ 'SideNavZippy': false }" style="cursor: pointer; cursor: hand;"><b>{{oem}}</b></a>
          {% endif %}
          <div>
          {% for device in devices %}
          {% if device.oem == oem %}
          {% if device.model == active_device %}
          <a id="{{device.model}}" class="mdl-navigation__link nav_selected" href="/{{device.model}}">{{device.model}}</a>
          {% else %}
          <a id="{{device.model}}" class="mdl-navigation__link" href="/{{device.model}}">{{device.model}}</a>
          {% endif %}
          <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="{{device.model}}">{{device.name}}</div>
          {% endif %}
          {% endfor %}
          </div>
        </div>
        {% endfor %}
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        {% block content %}
        {% endblock %}
      </div>
    </main>
   
  </div>
</body>
</html>

