{% extends 'base.html' %}

{% block content %}
<section class="grid_outer chapter">
    <h1 class="chapter-title">Extras</h1>
    <div class="chapter-content">
        <div class="article-list">
            <div id="duration-easing-speed" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
                <div class="article-content">
                    <div>
                        <div class="col-list">
                            <section class="module-module col-1">
                                <div class="module">
                                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric">Name</th>
                                                <th class="mdl-data-table__cell--non-numeric">Version</th>
                                                <th class="mdl-data-table__cell--non-numeric">File</th>
                                                <th class="mdl-data-table__cell--non-numeric">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <!--td class="mdl-data-table__cell--non-numeric">su (arm)</td>
                                                <td class="mdl-data-table__cell--non-numeric">14.1</td>
                                                <td class="mdl-data-table__cell--non-numeric"><a href="https://mirrorbits.lineageos.org/su/addonsu-arm-signed.zip">addonsu-arm-signed.zip</a><br><small>md5sum: c4863659dfa83ff53de16674e88c5580</small></td>
                                                <td class="mdl-data-table__cell--non-numeric">2017-01-26</td-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
